@using StoreApp.Entity
@model IEnumerable<Category>


@{
    ViewBag.Title = "Index";
}

<h3>Kategori Listesi</h3>



@if (TempData["Updated"] != null)
{
    string urun = TempData["Updated"].ToString();


    <div class="alert alert-success" role="alert">
        <span class="glyphicon glyphicon-ok"></span>
        <b> @urun ismindeki kayıt güncellendi</b>
    </div>
}


<hr />

<a href="/Category/Create" class="btn btn-primary">

    <span class="glyphicon glyphicon-plus"> Kategori Ekle</span>
</a>

<br />
<br />

<table class="table table-condensed table-bordered table-striped table-hover">
    <thead>

        <tr>
            <th>Id</th>
            <th>Name</th>
      
            <th>İşlemler</th>
        </tr>


    </thead>

    <tbody>

        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.Name</td>
       
                <td>
                    @Html.ActionLink("Edit", "Edit", "Category", new { @id = p.Id }, new { @class = "btn btn-primary btn-xs" }) |
                    @Html.ActionLink("Delete", "Delete", "Category", new { @id = p.Id }, new { @class = "btn btn-danger btn-xs" })

                </td>

            </tr>
        }


    </tbody>

</table>

